.user-table-container {
    overflow-x: auto;
    margin-top: 1rem;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.user-table-container table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

.user-table-container thead {
    background-color: var(--color-azul);
    color: white;
}

.user-table-container th,
.user-table-container td {
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 0.95rem;
    border-bottom: 1px solid #e6e6e6;
}

.user-table-container tbody tr:hover {
    background-color: #f9f9f9;
}

.actions-buttons {
    display: flex;
    gap: 0.5rem;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--color-azul);
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.icon-button:hover {
    color: white
}
